<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <div>
        <p>
        <h1>This is user profile.</h1>
        <h1 th:text="${loggedInUser.email}"></h1>
        </p>
    </div>
    <div>
        <th:if="${loggedInUser}">
         <p>
            User is logged-in <span th:text="${loggedInUser.email}"></span>
            <h1>First name of user : <span th:text="${loggedInUser.firstName}"></span></h1>
         </p>   
        </th:if>
    </div>
</body>

</html>