<div th:fragment="addNewContactForm"
    class="block p-5 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">

    <!-- Form -->
    <form class="mt-3 flex-auto justify-center py-4" data-th-action="@{'/user/contacts/addNewContact'}" method="post"
        data-th-object="${contactFormDTO}" novalidate>


        <!-- 1. Contact Name -->
        <div id="fullName" class="mb-3">
            <label for="fullName" class="block mb-1 text-xs font-medium text-gray-900 dark:text-white">1. Contact
                Name <b class="text-red-700 text-sm">*</b></label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none rounded-lg">
                    <i class="fa-regular fa-user w-4 h-4"></i>
                </div>
                <input type="text" id="fullName" th:field="*{fullName}"
                    class="block w-full ps-9 pe-3 py-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 
                          dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:text-body"
                    placeholder="Enter name here">
            </div>
            <!-- <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-red-500
                                px-2 text-xs"></p> -->
        </div>

        <!-- if screen is large then contact & email will appear in one row that's why it is placed in a wrapper -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-start">
            <!-- 2. Contact phone number -->
            <div id="contactNumber" class="mb-0">
                <label for="contactNumber"
                    class="block mb-1 min-h-[1.25rem] text-xs font-medium text-gray-900 dark:text-white">2. Contact
                    Number <b class="text-red-700 text-sm">*</b></label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none rounded-lg">
                        <i class="fa-solid fa-square-phone w-4 h-4"></i>
                    </div>
                    <input type="text" id="contactNumber" th:field="*{contactNumber}"
                        class="block w-full ps-9 pe-3 py-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 
                            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:text-body"
                        placeholder="Enter name here">
                </div>
                <!-- <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-red-500
                                    px-2 text-xs"></p> -->
            </div>


            <!-- 3. Contact Email -->
            <div id="email" class="mb-0">
                <label for="email"
                    class="block mb-1 min-h-[1.25rem] text-xs font-medium text-gray-900 dark:text-white">3. Contact
                    Email</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none rounded-lg">
                        <i class="fa-regular fa-envelope w-4 h-4"></i>
                    </div>
                    <input type="email" id="email" th:field="*{email}"
                        class="block w-full ps-9 pe-3 py-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 
                            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:text-body"
                        placeholder="Enter email here">
                </div>
                <!-- <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-red-500
                                    px-2 text-xs"></p> -->
            </div>
        </div> <!-- end of wrapper contact and email-->


        <!-- 4. Contact Address -->
        <div id="address" class="mb-3 mt-3">
            <label for="address" class="block mb-1 text-xs font-medium text-gray-900 dark:text-white">4. Contact
                Address</label>
            <div class="relative">
                <textarea type="text" id="address" rows="3" th:field="*{address}" placeholder="Address of the contact"
                    class="block w-full bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 
                        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
            </div>
            <!-- <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-red-500
                                px-2 text-xs"></p> -->
        </div>

        <!-- 5. Contact Description -->
        <div id="description" class="mb-3">
            <label for="description" class="block mb-1 text-xs font-medium text-gray-900 dark:text-white">5. Contact
                Description</label>
            <div class="relative">
                <textarea type="text" id="description" rows="3" th:field="*{description}"
                    class="block w-full bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 
                        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write about your contact"></textarea>
            </div>
            <!-- <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-red-500
                                px-2 text-xs"></p> -->
        </div>

        <!-- 6. Contact Favorite and Gender Selection -->
        <!-- if screen is large then contact & email will appear in one row that's why it is placed in a wrapper -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-start">
            <!-- Checkbox for favorite contact -->
            <div class="mt-4 flex items-center gap-2">
                <fieldset>
                    <legend class="sr-only">Checkbox variants</legend>
                    <div class="flex items-center mt-1 mb-4">
                        <div
                            class="text-sm font-medium text-heading select-none text-gray-900 dark:text-white col-span-full mr-1">
                            6. </div>
                        <input id="checkbox-1" type="checkbox" th:field="*{favoriteContact}"
                            class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft appearance-auto accent-green-500">
                        <label for="checkbox-1"
                            class="ms-2 text-sm font-medium text-heading select-none  text-gray-900 dark:text-white  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            Add to Favorite <i class="fa-solid fa-star"></i></label>
                    </div>
                </fieldset>
            </div>

            <!-- 7. Gender male or female -->
            <!-- Dropdown radio for male or female -->
            <!-- Gender Dropdown -->

            <div class="relative inline-block mt-4 font-bold">

                <button type="button" id="genderButton" class="inline-flex items-center gap-2 bg-gray-700 text-white hover:bg-gray-600
                                        dark:bg-gray-400 dark:text-black px-4 py-2 rounded-lg text-sm">
                    <!-- Number -->
                    <span class="text-sm font-medium text-heading text-white dark:text-black">7.</span>
                    <!-- Label -->
                    <span id="genderButtonText">Gender</span>
                    <!-- Icon -->
                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2" d="m19 9-7 7-7-7" />
                    </svg>
                </button>

                <!-- Dropdown -->
                <div id="genderDropdown" class="absolute top-full left-0 mt-2 z-50 hidden bg-white border hover:bg-gray-500 border-gray-200 rounded-lg shadow-lg w-44">
                    <ul class="p-2 text-sm">
                        <li class="p-2 hover:bg-gray-300 cursor-pointer gender-option" data-value="MALE">MALE</li>
                        <li class="p-2 hover:bg-gray-300 cursor-pointer gender-option" data-value="FEMALE"></li>
                        <li class="p-2 hover:bg-gray-300 cursor-pointer gender-option" data-value="UNKNOWN">UNKNOWN</li>
                    </ul>
                </div>
            </div>

            <!-- Hidden input (THIS is submitted to Spring) -->
            <input type="hidden" id="genderInput" th:field="*{gender}">

            <!-- 8. DOB date of birth of the contact datepicker -->
            <div class="max-w-sm">

                <!-- Label -->
                <div class="text-sm font-medium text-heading select-none text-gray-900 dark:text-white">
                    8. Contact DOB
                </div>

                <!-- Input wrapper (IMPORTANT) -->
                <div class="relative mt-1">

                    <!-- Calendar icon -->
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14
                                                    a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5
                                                    a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z" />
                        </svg>
                    </div>

                    <!-- Input -->
                    <input id="datepicker-actions" datepicker datepicker-format="dd-mm-yyyy" datepicker-buttons
                        datepicker-autohide datepicker-max-date="today" type="text" class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium
                                   border border-default-medium text-heading text-sm
                                   rounded-base focus:ring-brand focus:border-brand
                                   shadow-xs placeholder:text-body" placeholder="Select DOB" th:field="*{dateOfBirth}">
                </div>
            </div>

        </div><!-- End of Wrapper of favorite & Gender selection-->

        <!-- image avatar upload -->
        <div>
            <label
                class="block mt-4 text-sm font-medium text-heading  text-gray-900 dark:text-white  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                for="file_input">9. Upload file</label>
            <input accept="image/*"
                class="cursor-pointer bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full shadow-xs text-red-700 dark:text-red-500 placeholder:text-body"
                aria-describedby="file_input_help" id="file_input" type="file" th:field="*{image}">
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF <b>(MAX
                    2mb)</b></p>
            <!-- 🔽 ADD THIS IMAGE PREVIEW RIGHT HERE -->
            <img id="avatarPreview" src="/images/avatar-default.png" alt="Avatar Preview"
                class="mt-3 w-20 h-20 rounded-full border border-gray-300 dark:border-gray-600">
        </div>

        <!-- 10. Social Links (Single for now) -->
        <!-- if screen is large then contact & email will appear in one row that's why it is placed in a wrapper -->
        <div class="mt-3 grid grid-cols-1 lg:grid-cols-2 gap-4 items-start">
            <!-- 10.1. Contact website -->
            <div id="contactWebsite" class="mb-0">
                <label for="contactWebsite"
                    class="block mb-1 min-h-[1.25rem] text-xs font-medium text-gray-900 dark:text-white">Website
                    Link</label>
                <!-- title -->
                <input type="hidden" th:field="*{socialLinks[0].title}" th:value="'Website'"/>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none rounded-lg">
                        <i class="fa-solid fa-globe w-4 h-4"></i>
                    </div>
                    <input type="url" id="contactWebsite" th:field="*{socialLinks[0].link}" 
                        class="block w-full ps-9 pe-3 py-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 
                            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:text-body"
                        placeholder="https://website.in/">
                </div>
                <!-- <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-red-500
                                    px-2 text-xs"></p> -->
            </div>


            <!-- 10.2. Contact linkedin -->
            <div id="contactLinkedIn" class="mb-0">
                <label for="contactLinkedIn"
                    class="block mb-1 min-h-[1.25rem] text-xs font-medium text-gray-900 dark:text-white">Linkedin
                    Profile</label>
                <!-- title -->
                <input type="hidden" th:field="*{socialLinks[1].title}" th:value="'LinkedIn'"/>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none rounded-lg">
                        <i class="fa-brands fa-linkedin w-4 h-4"></i>
                    </div>
                    <input type="url" id="contactLinkedIn" th:field="*{socialLinks[1].link}"
                        class="block w-full ps-9 pe-3 py-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 
                            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:text-body"
                        placeholder="https://www.linkedin.com/">
                </div>
                <!-- <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-red-500
                                    px-2 text-xs"></p> -->
            </div>
        </div> <!-- end of wrapper website and profile links -->

        <!-- Submit & Reset Btton -->
        <!-- Buttons -->
        <div class="flex justify-center space-x-20 mt-12">
            <button type="submit"
                class="px-3 py-2 text-xs font-bold bg-blue-800 text-white rounded-lg hover:bg-blue-600 dark:bg-blue-600 dark:hover:bg-blue-800">Add
                Contact</button>
            <button type="reset"
                class="px-3 py-2 text-xs font-bold bg-orange-800 text-white rounded-lg hover:bg-orange-600 dark:bg-orange-600 dark:hover:bg-orange-800">Reset</button>
        </div>
    </form>
</div>