<!DOCTYPE html>
<html class="light" lang="en" th:fragment="parent(content, title, script)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}"></title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link th:href="@{https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css}" rel="stylesheet" />
</head>

<body>
    <!-- insert header fragment-->
    <section data-th-replace="~{navbar :: #navbar-header}"></section>
    <!-- main content -->
    <div class="p-4 h-screen w-full dark:bg-gray-800">
        <section data-th-replace="${content}"> </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>

</html>