<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <!-- REQUIRED FOR AJAX -->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:text="${loggedInUser.firstName}+' | Contact Page'">Contact Page</title>
</head>

<body>
    <div id="content">
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/userSidebar :: user-sidebar}"></div>
        </div>
        <div class="sm:pl-64 pt-12" style="height: 1000px">
            <div>
                <H1>Welcome to Contact Page....</H1>
                <p class="text-cyan-500">Contact Page of SCM2.0</p>

            </div>
        </div>
    </div>
    <script>
        console.log("Contact Page")
    </script>
</body>

</html>