<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>

    <title>Home</title>
    <!-- <style>
        .container {
            margin: 5%;
            background-color: cadetblue;
        }
    </style> -->
</head>

<body>
    <div id="content">
        <h1 class="bg-emerald-200 fill-stone-600">
            Welcome to My Home Page of Smart Contact Manager <br>
            <p> Name : <span th:text="${name}"></span></p>
            <p>Company name : <span data-th-text="${company}"></span></p>
        </h1>
        <p>Company name : <span data-th-text="${company}"></span></p>
        <p>
            I am currently learing springboot + thymeleaf <br>
            for styling i am using <b>tailwindcss.</b>
        </p>
    </div>
    <script>console.log("home page");</script>
</body>

</html>