<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>

    <title>Home</title>
    <!-- <style>
        .container {
            margin: 5%;
            background-color: cadetblue;
        }
    </style> -->
</head>

<body>
    <div class="sm:pl-64 pt-16 min-h-[calc(100vh-4rem)] bg-indigo-50 text-gray-950 dark:bg-gray-700 dark:text-gray-50 p-4"
        id="content">
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/userSidebar :: user-sidebar}"></div>
        </div>

        <div
            class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base  ">
            welcome to home page
    
        </div>
    </div>
    <script>console.log("home page");</script>
</body>

</html>