<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <title>Title</title>
    <!-- <style>
        .container {
            margin: 5%;
            background-color: cadetblue;
        }
    </style> -->
</head>

<body>
    <div class="text-2xl font-stretch-extra-expanded">
        <h1 class="bg-emerald-200 fill-stone-600">
            Welcome to My Home Page of Smart Contact Manager <br>
            <p> Name : <span th:text="${name}"></span></p>
            <p>Company name : <span data-th-text="${company}"></span></p>
        </h1>
        <p>Company name : <span data-th-text="${company}"></span></p>
        <p>
            I am currently learing springboot + thymeleaf <br>
            for styling i am using <b>tailwindcss.</b>
        </p>
    </div>
    <span></span>
</body>

</html>