<nav id="navbar-header" class="bg-yellow-100 border-gray-200 dark:bg-gray-900 text-sm">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
        <!-- brand logo -->
        <a data-th-href="@{/home}" class="flex items-center space-x-2 rtl:space-x-reverse">
            <img data-th-src="@{'./images/contact-book.png'}" class="h-6" alt="SCM Logo" />
            <span class="self-center text-black text-lg font-semibold whitespace-nowrap dark:text-white">SCM</span>
        </a>
        <!-- end of brand logo -->
        <div class="flex md:order-3 gap-1 md:space-x-2 rtl:space-x-reverse">
            <!-- dark/light button -->
            <button id="theme-change-button"
                class="bg-gray-500 rounded-lg px-2.5 py-1.5 text-xs dark:bg-gray-300">
                <i class="fa-solid fa-circle-half-stroke"></i><span> Light</span>
            </button>

            <!-- LOGIN BUTTON -->
            <a th:href="@{/login}">
                <button type="button"
                    class="text-gray-900 bg-gray-400 hover:bg-gray-600 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-xs px-3 py-1.5 text-center dark:bg-gray-500 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                    <b>LOGIN</b>
                </button>
            </a>

            <!-- SIGNUP BUTTON -->
            <a th:href="@{/signup}">
                <button type="button"
                    class="text-gray-900 bg-gray-400 hover:bg-gray-600 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-xs px-3 py-1.5 text-center dark:bg-gray-500 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                    <b>SIGNUP</b>
                </button>
            </a>

            <!-- Mobile menu button -->
            <button data-collapse-toggle="navbar-cta" type="button"
                class="inline-flex items-center p-1.5 w-8 h-8 justify-center text-xs text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-cta" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>

        <!-- menu links -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul
                class="flex flex-col font-normal text-xs md:p-0 mt-2 border border-yellow-200 rounded-lg bg-yellow-100 md:space-x-5 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-yellow-100 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a data-th-href="@{/home}"
                        class="block py-1 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600 md:dark:hover:text-blue-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
                </li>
                <li>
                    <a data-th-href="@{/about}"
                        class="block py-1 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600 md:dark:hover:text-blue-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
                </li>
                <li>
                    <a data-th-href="@{/services}"
                        class="block py-1 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600 md:dark:hover:text-blue-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
                </li>
                <li>
                    <a data-th-href="@{/contact}"
                        class="block py-1 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600 md:dark:hover:text-blue-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
