<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
</head>

<body>
    <h1>This is services page!!!</h1>
    <hr>
    <!-- Using Fragment of base page -->

    <div th:replace="~{base :: baseFragmentForHTML(~{::.using-class})}">
        <section id="using-id">
            This is id dynamic services passed to base page.
        </section>

        <section class="using-class">
            This is class dynamic services passed to base page.
        </section>

    </div>

    <div th:replace="${isTrue} ? ~{base :: baseFragment3ForHTML} : ~{base :: baseFragment4ForHTML}"></div>

</body>


</html>